// Specific CSS for your home-page

.search {
  // background: #FF9000;
  height: 48px;
  width: 800px;
  border-radius: 8px;
  margin-right: 0;
}


.form-inline {
  font-size: 16px;
  position: absolute;
  // border: 0;
}
