// Specific CSS for your home-page

.search {
  height: 48px;
  border-radius: 8px;
  margin-right: 0;
}


// .form-inline {
//   font-size: 20px;
// }

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
