<div class="row">
  <div class="col-6 offset-3 p-5 text-center">
    <h1> Thanks for booking!</h1>
    <h2 class="m-3">A confirmation will be sent shortly 😊</h2>
    <div class="row">
      <div class="col-12">
        <%= link_to "Go back", event_path(@reservation.event), class: 'btn btn-outline-warning' %>
      </div>
    </div>
  </div>
</div>
