.banner_home {
  background-image: url('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622644197/tableshare/tableshare_04_sc6eyx.jpg');
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  border: 12px solid #FF9000;
}

.banner-info {
  padding: 48px 36px;
  text-shadow: 2px 2px #CF5830;
  color: white;
  font-size: 88px;
}

.show-banner {
  overflow: hidden;
  background-size: cover;
  background-position: center;
    h2 {
      padding: 250px 100px 120px;
      font-size: 40px;
      font-weight: 700;
      text-shadow: 1px 1px rgba(200,200,200, 0.4);
    }
}
