.banner_home {
  background-image: url('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622644197/tableshare/tableshare_04_sc6eyx.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 500px;
}
