.banner_home {
  background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.20), rgba(100, 100, 100, 0.10)), url('https://res.cloudinary.com/dkdk2tuol/image/upload/v1622644197/tableshare/tableshare_04_sc6eyx.jpg');
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  border: 12px solid #FF9000;
  position: relative;
}

.banner-info {
  padding: 140px 36px 50px 36px;
    h1 {
      font-size: 56px;
      text-shadow: 2px 2px #CF5830;
      color: white;
    }
}

.show-banner {
  overflow: hidden;
  background-size: cover;
  background-position: center;
    h2 {
      font-weight: 700;
      padding: 250px 100px 120px;
      font-size: 56px;
      text-shadow: 2px 2px #CF5830;
      color: white;
    }
}
