.card-product {
  overflow: hidden;
  height: 100%;
  background: #FFFAF3;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //align-items: center;
}

.card-product-img {
  height: 100%;
  width: 142px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  color: rgb(50,50,50);
  opacity: 1;
  margin-bottom: 0;
}

.card-product .card-product-infos {
  padding: 0 12px 0px 12px;
}

// cards dashboard

.card-product-infos {
  color: rgb(50,50,50);
  opacity: .8;
}

.card-product-infos:hover {
  color: rgb(50,50,50);
  opacity: 1;
}

.cards-reservation {
  width: 142px;
  height: 142px;
  border-radius: 8px;
  object-fit: cover;
}

.card-body {
  padding-top: 14px;
}

.card-product-titles {
  color: #FF9000;
  opacity: .8;
}

.card-product-titles:hover {
  color: #FF9000;
  opacity: 1;
}

.btn {
  border-radius: 8px;
}

.btn .a {
  color: white;
}

.card-product {
  display: flex;
  flex-wrap: wrap;
}

.attendance-info {
  position: absolute;
  top: 64px;
  right: 60px;
  text-align: center;
 }

.attendance-info p {
  font-size: 14px;
  opacity: 0.7;
}

.btn-outline-warning a {
  color: #FF9000;
}

.btn-outline-warning a:hover {
  color: white;
}

.card-review {
  overflow: hidden;
  height: 100%;
  background: #FFFAF3;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //align-items: center;
}
