.marker {
  background: orange;
  border-radius: 50%;
  // background-image: url('/images/map_marker_logo.png');
}

.card-product.selected {
  // box-shadow:         3px 3px 5px 6px #ccc;
  background-color: #e19b53;
  transition: all ease 0.5s;
    h2 {
    color: white !important;
    transition: all ease 0.5s;
  }
  .event-price{
    transition: all ease 0.5s;
    color: white !important;
    border-color: white !important;
  }
}

.marker.selected {
  height: 50px !important;
  width: 50px !important;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
}
