.navbar {
  justify-content: space-between;
  background: #F5E6D3;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .dropdown-menu {
  z-index: 9999;
}
