/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 10px lightgrey;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F5E6D3;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 4px solid #fe9000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin: 0;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
